<!doctype html>
<html>
    <head>
        <script src="util.js"></script>
    </head>
    <body>
        {% if token %}
        <h2> Congratulations! you have successfully authenticated and your token is: {{ token }} </h2>
        {% else %}
        <h1> Something went wrong :( </h1>
        {% endif %}

        <form action="remind" method="post">
            Source:                     <input type="text" name="sourceText"><br>
            Destination:                <input type="text" name="destinationText"><br>
            Time(HH:MM:SS, 24h format): <input type="text" name="time"><br>
            Email:                      <input type="text" name="email"><br>
            <input type="submit" value="REMIND ME">
        </form>

    </body>
</html>